//DEV note, copy this into your .env file and fill in the values. 
//The DATABASE_URL is provided by Supabase, and the PORT is the port you want your API to run on.

DATABASE_URL=SESSION POOLER DIRECT CONNECTION STRING PROVIDED BY SUPABASE. REACH OUT TO STONE CASEY IF YOU DO NOT HAVE THIS. 
PORT=3000